


header{
    display: flex;
    justify-content: center;
    background-color: $colorPrincipal !important;

}
.navbar-first{
    background-color: $colorPrincipal !important;
    text-align: center; 
}