@font-face {
    font-family: "Playwrite TZ", cursive;
    src: url(../assets/fonts/PlaywriteTZ-Regular.ttf);
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}
