@media (min-width: 770px) and (max-width: 1050px) {

    .img-producto-segunda-seccion-shop{
        width: 200px;
        height: 200px;
    } 

    .img1-tercera-seccion-shop, .img2-tercera-seccion-shop, .img3-tercera-seccion-shop{
        width: 250px;
        height: 250px;
    }

    .titulo-fila1-primera-seccion-about, .titulo-segunda-seccion-about{
        font-size: 30px ;
    }

    .descripcion-fila1-primera-seccion-about,.texto-fila2-primera-seccion-about, .texto-fila3-primera-seccion-about, .texto1-segunda-seccion-about{
        font-size: 18px;

    }

    .img1-primera-seccion-about, .img2-primera-seccion-about{
        width: 400px;
        height: 400px;
        object-fit: contain;
    }

    .objetos-separador-about{
        width: 150px;
    }

    .img4-segunda-seccion-about{
        width: 400px;
        height: 400px;
    }

    .imgs-primera-seccion-blog{
        width: 250px;
        height: 250px;
    }
    .descripcion-primera-seccion-blog, .descripcion2-primera-seccion-blog{
        font-size: 15px;
    }

    .fila-segunda-seccion-contact {
        flex-direction: column;
    }

    .inputs-container-contact {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {

    .primera-seccion-index {
        height: 550px;
        padding: 20px;
    }

    .primera-seccion-container-index h1 {
        font-size: 50px;
    }
    .segunda-seccion-index h2{
        font-size: 50px;
    }

    .fila-tercera-seccion-index {
        flex-direction: column;
        align-items: center;
    }

    .tercera-seccion-index img{
        width: 150px;
        height: 100px;
        object-fit: contain;
        margin-left: 60px;
        }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .cuarta-seccion-index {
        background-size: cover;
        background-position: center;
        padding: 40px 20px;
    }

    .contenido-cuarta-seccion-index p {
        font-size: 1.2em;
    }

    .contenido-cuarta-seccion-index button {
        font-size: 1em;
        padding: 10px 20px;
    }

    .img-producto-segunda-seccion-shop{
        width: 200px;
        height: 200px;
    } 

    .img1-tercera-seccion-shop, .img2-tercera-seccion-shop, .img3-tercera-seccion-shop{
        width: 250px;
        height: 250px;
    }

    .titulo-fila1-primera-seccion-about, .titulo-segunda-seccion-about{
        font-size: 30px ;
    }

    .descripcion-fila1-primera-seccion-about,.texto-fila2-primera-seccion-about, .texto-fila3-primera-seccion-about, .texto1-segunda-seccion-about{
        font-size: 18px;

    }

    .img1-primera-seccion-about, .img2-primera-seccion-about{
        width: 250px;
        height: 250px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    .objetos-separador-about{
        width: 150px;
    }

    .img4-segunda-seccion-about{
        width: 200px;
        height: 200px;
    }

    
    .imgs-primera-seccion-blog{
        width: 250px;
        height: 250px;
    }
    .descripcion-primera-seccion-blog, .descripcion2-primera-seccion-blog{
        font-size: 15px;
    }


    .primera-seccion-contact{
        width: auto;
        height:auto;
        margin-top: 120px;
}
    
    .fondo-primera-seccion-contact {
        height: 900px;
    }

    .tarjeta-primera-seccion-contact {
        width: 70%;
        padding: 10px;
        margin-left: 20px;
    }

    .footer .col-md-4 {
        flex: 1 1 33.333%;
        max-width: 33.333%;
    }


}

@media (min-width:481px) and (max-width: 599.99px) {
    
    .segunda-seccion-index h2{
        font-size: 40px;
    }
    .segunda-seccion-index .parrafo1-contenido1-segunda-seccion-index, .parrafo2-contenido1-segunda-seccion-index{
        font-size: 15px;
        margin-left: 15px;}

    .tercera-seccion-index h2{
            font-size: 30px;
    }

    .fila-tercera-seccion-index {
        flex-direction: column;
        align-items: center;}

    .tercera-seccion-index img{
        width: 150px;
        height: 100px;
        object-fit: contain;
        margin-left: 60px;
    }
    
    .navbar-brand img {
        width: 100px;
    }
            
    .navbar-toggler {
        margin: auto;
    }
        
    .navbar-nav {
        text-align: center;
    }
        
    .primera-seccion-shop h1 {
        font-size: 24px; 
    }
        
    .opciones-fila1-primera-seccion-shop {
        font-size: 14px; 
    }
        
    .producto-segunda-seccion-shop {
        margin: 10px auto;
        width: 100%;
    }
        
    .img-producto-segunda-seccion-shop {
        width: 100%;
        height: auto;
    }
        
    .fila2-segunda-seccion-shop {
        flex-direction: column;
    }
        
    .boton-fila2-segunda-seccion-shop, .boton2-fila2-segunda-seccion-shop {
        margin: 5px 0;
        width: 100%;
    }
        
    .previus-fila2-segunda-seccion-shop, .next-fila2-segunda-seccion-shop {
        display: none;                
    }

    .img1-tercera-seccion-shop, .img2-tercera-seccion-shop, .img3-tercera-seccion-shop{
        width:100px;
        height: 100px;
        object-fit: contain;
    }
        
    .img1-primera-seccion-about, .img2-primera-seccion-about{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    .objetos-separador-about{
        width: 150px;
    }

    .img4-segunda-seccion-about{
        width: 200px;
        height: 200px;
    }

    .imgs-primera-seccion-blog{
        width: 150px;
        height: 150px;
    }
    .descripcion-primera-seccion-blog, .descripcion2-primera-seccion-blog{
        font-size: 15px;
    }
}

@media (min-width: 320px) and (max-width: 499px) {
    .primera-seccion-container-index h1 {
        font-size: 45px;
    }

    .segunda-seccion-index{
        display: block;
        height: auto;
        grid-template-rows: auto;
        grid-row: 120px;

    }

    .segunda-seccion-index h2{
        font-size: 40px;
    
    }
    .segunda-seccion-index .parrafo1-contenido1-segunda-seccion-index, .parrafo2-contenido1-segunda-seccion-index{
        font-size: 15px;
        margin-left: 15px;
    }
    .tercera-seccion-index h2{
        font-size: 30px;
    }

    .fila-tercera-seccion-index {
        flex-direction: column;
        align-items: center;
    }
    .tercera-seccion-index img{
        width: 150px;
        height: 100px;
        margin-left: 100px;
        object-fit: contain;
    }
    .tercera-seccion-index p{
        font-size: 15px;
    }

    .contenido-cuarta-seccion-index p {
        font-size: 35px;
    }

    .contenido-cuarta-seccion-index button {
        font-size: 0.9em;
        padding: 8px 16px;
        }

        .navbar-brand img {
            width: 80px;
        }
    
        .navbar-toggler {
            order: 2;
            margin-right: auto;
        }
    
        .navbar-nav {
            text-align: center;
        }
    
        .primera-seccion-shop h1 {
            font-size: 20px; 
        }
    
        .opciones-fila1-primera-seccion-shop {
            font-size: 12px;
        }
    
        .producto-segunda-seccion-shop {
            margin: 5px auto;
            width: 100%;
        }
    
        .img-producto-segunda-seccion-shop {
            width: 100%;
            height: auto;
        }
    
        .fila2-segunda-seccion-shop {
            flex-direction: column;
        }
    
        .boton-fila2-segunda-seccion-shop, .boton2-fila2-segunda-seccion-shop {
            margin: 5px 0;
            width: 100%;
        }
    
        .previus-fila2-segunda-seccion-shop, .next-fila2-segunda-seccion-shop {
            display: none;
        }
        .img1-tercera-seccion-shop, .img2-tercera-seccion-shop, .img3-tercera-seccion-shop{
            width:100px;
            height: 100px;
            object-fit: contain;
        }

        .titulo-fila1-primera-seccion-about, .titulo-segunda-seccion-about, .texto2-segunda-seccion-about{
            font-size: 25px ;
        }
    
        .descripcion-fila1-primera-seccion-about,.texto-fila2-primera-seccion-about, .texto-fila3-primera-seccion-about, .texto1-segunda-seccion-about{
            font-size: 12px;
    
        }
    
        .img1-primera-seccion-about, .img2-primera-seccion-about{
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    
        .objetos-separador-about{
            width: 150px;
        }
    
        .img4-segunda-seccion-about{
            width: 100px;
            height: 100px;
        }

        .fila-primera-seccion-blog{
            flex-direction: column;
            justify-content: center;
        }

        .imgs-primera-seccion-blog{
            width: 150px;
            height: 150px;
        }
        .descripcion-primera-seccion-blog, .descripcion2-primera-seccion-blog{
            font-size: 15px;
        }
}
